.polloso {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large
}

.Image2 {
    max-width: 100%;
    height: auto;
}

.pollo {
    background: linear-gradient(0deg, green, dimgrey);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.pollos {
    background-color: dimgrey;
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: yellow
}
.polloso1 {
    background-color: dimgrey;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: yellow
}
.menu {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 15px;
    width: 100%;
    padding: 1rem;
}
.apartado {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: clamp(1rem, 1.5rem, 2rem);
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
}