body {
    background-color: dimgray;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.pollo {
    background: linear-gradient(0deg, green, dimgrey);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    text-align: center;
    font-size: large;
}

.pollos {
    background-color: dimgrey;
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: yellow
}

.polloso {
    background-color: dimgrey;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: yellow
}

h1 {
    text-align: center;
    font-size: xx-large;
    font-family: 'Comic Sans MS';
    color: greenyellow
}

table {
    background-color: red;
    color: white;
    text-align: center;
    align-self: center;
}

.Image1 {
    -webkit-mask-image: url(image/pollo.png);
    mask-image: url(image/pollo.png);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100%;
    width: 100%;
    height: auto;
}

.Image2 {
    width: 100%;
    height: auto;
}

.mask1 {
    -webkit-mask-image: url(w3logo.png);
    mask-image: url(w3logo.png);
    mask-position: center;
}

.header1 {
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(0deg, dimgrey, green);
}
.row {
    display: flex;
    box-sizing: border-box;
}
.column {
    width: 50%;
    padding: 5px;
}
.pollosos {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.header2 {
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}