.polloso {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large
}

.Image2 {
    max-width: 100%;
    height: auto;
}

.pollo {
    background: linear-gradient(0deg, green, dimgrey);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.pollos {
    background-color: dimgrey;
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: yellow
}
.polloso1 {
    background-color: dimgrey;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: yellow
}
